@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");

.App {
  margin: auto;
  width: 50%;
  font-family: sans-serif;
  text-align: center;
}
.myForm {
  width: 100%;
  background-color: #dfe6e9;
  border-radius: 5px;
  padding: 20px;
}
.formField {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.myButton {
  width: 100%;
  background-color: #00b894;
  color: white;
  padding: 14px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.myList {
  list-style: none;
}
.myListButton {
  display: inline-block;
  height: auto;
  width: auto;
  margin-left: 7px;
  border-radius: 7px;
  border: 1px solid #00b894;
}
